<div class="form-group row">
  <div class="col-sm-12">
      <a [routerLink]="['/category/create']" class="btn btn-success ">Novo</a>
  </div>
</div>

<br />

<h2>Category Lista</h2>

<table class="table table-striped">
  <thead class="border">
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Delete</th>
      </tr>
  </thead>
  <tbody class="border">
      <tr *ngFor='let categorias of category'>
          <td>{{ categorias.id }}</td>
          <td>{{ categorias.Name }}</td>
          <td>
              <button  class="btn btn-danger" (click)="Delete(categorias.id)">Delete</button>
          </td>
      </tr>
  </tbody>
</table>
<router-outlet></router-outlet>
