<div class="form-group row">
  <div class="col-sm-12">
      <a [routerLink]="['/device/create']" class="btn btn-success ">Novo</a>
  </div>
</div>

<br />

<h2>Device Lista</h2>

<table class="table table-striped">
  <thead class="border">
      <tr>
        <th>Id</th>
        <th>Color</th>
        <th>PartNumber</th>
        <th>Name</th>
        <th></th>
      </tr>
  </thead>
  <tbody class="border">
      <tr *ngFor='let devices of device'>
          <td>{{ devices.id }}</td>
          <td>{{ devices.Color }}</td>
          <td>{{ devices.PartNumber }}</td>
          <td>{{ devices.Category_fk }}</td>
          <td>
              <button  class="btn btn-danger" (click)="Delete(devices.id)">Delete</button>
          </td>
      </tr>
  </tbody>
</table>

<router-outlet></router-outlet>
