<div class="row justify-content-center py-3">

  <div class="col-12 col-md-4 py-3">

  <div class="modal-content rounded-5 shadow  p-4 pt-5" >

    <img  id="profile" src="../../../assets/logo.png" class="img-fluid" />

    <div class="mb-3 py-3 ">
      <label for="exampleFormControlInput1" class="form-label">Email</label>
      <input [(ngModel)]="user.Email" type="email" class="form-control" placeholder="email@gmail.com">
    </div>

    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Senha</label>
      <input [(ngModel)]="user.Password" type="password" class="form-control"  placeholder="123">
    </div>

    <div class="d-grid gap-2">     
        <button class="btn btn-primary bn" (click)="Login()">Login</button>
     </div>

      <div class="d-grid gap-2 py-3"> 
      <button class="btn btn-success" (click)="Register()">Register</button>
      </div>

       <div class="d-grid gap-2"> 
        <button class="btn btn-danger" (click)="Logoff()">Logoff</button>
    </div>
    </div>
  </div>
</div>


